body            { font-family: 'Crushed', cursive; background: #eee; }
pre             { font-family: 'Crushed', cursive; background: #eee; }
a, h1, h2, h3   { color: #377ba8; }
h1, h2, h3      { font-family: 'Crushed', cursive; margin: 0; margin-bottom: .5em; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; }
h3              { font-size: .9em; }


ul              { list-style: none;}

.page           { margin: 2em auto; width: 35em; border: 5px solid #ccc;
                  padding: 0.8em; background: white; }
.entries        { list-style: none; margin: 0; padding: 0; }
.entries li     { margin: 0.8em 1.2em; }
.entries li h2  { margin-left: -1em; }
.add-entry      { font-size: 0.9em; border-bottom: 1px solid #ccc; }
.add-entry dl   { font-weight: bold; }
.metanav        { text-align: right; font-size: 0.8em; padding: 0.3em;
                  margin-bottom: 1em; background: #fafafa; }
.flash          { background: #cee5F5; padding: 0.5em;
                  border: 1px solid #aacbe2; }
.error          { background: #f0d6d6; padding: 0.5em; }
.panel          { float: left; padding: 0px 40px 0px 20px; width: 600px;}
.chart-display  { float: left; width: 700px;}
.chart          { border: 1px solid black; width: 700px;}
.footer         { clear: both; }
.patreon        { float: right; }
.distant        { float: left; }
.far            { float: right;}
.header         { width: 100%; }